<!-- AboutUs.html -->
{% extends 'main/base.html' %}

{% block content %}
<style>
	.top h1 {
		font-family: 'Exo 2', sans-serif;
	}

	.goal {
		text-align: center;
		background: var(--primary);
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.mainInfo {
		/*align-content: center;*/
		text-align: center; 
		background: var(--primary)
	}

	img {
		width: 25%;
		height: 25%;
		padding: 20px;
		object-fit: contain;
	}

	footer {
	  margin-top: 2rem;
	  background: var(--dark);
	  color: var(--light);
	  /*text-align: center;*/
	  padding: 1rem;
}
</style>
<div class="top">
  <h1>About Us</h1>
</div>
<div class="goal">
	<h2>The Goal:</h2>
    <p>To provide a platform where peers can come together and give each other advice about different courses offered at a University. There's no need to fret about classes to take when everyone's opinions are in one place! </p>
</div>
<div class="mainInfo">
	<img src="https://scontent.fsac1-2.fna.fbcdn.net/v/t1.0-9/69483826_2617142771838632_755082807146971136_n.jpg?_nc_cat=103&_nc_oc=AQn655KdIoLhRrEr6uaq0KEQV9jPI15kHpZZasEVrCQLFC85Q-cJq0htbOO1hqtvDt0&_nc_ht=scontent.fsac1-2.fna&oh=314ef8480910cf8702ef7980445181aa&oe=5E083B3B" alt="">
	<img src="https://scontent.fsac1-1.fna.fbcdn.net/v/t1.0-1/48414840_1229008000596757_6836553402164445184_n.jpg?_nc_cat=101&_nc_oc=AQnkLAXddxy_zZvqeCFlZiHazaxomOKBmXJDBPdAeEQSGJleZSDtzhX0Jeo_YSCQ8BU&_nc_ht=scontent.fsac1-1.fna&oh=f70a76822917493c4e9957e45181a61b&oe=5E150D57" alt="">
	<h2>The Team</h2> 
	<p>We are two friends from the Bay Area who want to help fellow peers with the daunting task of picking courses for the semester or quarter. <br> Chelsea Fernandes (left) attends Santa Clara University and is studying Computer Science and Engineering. <br> Sachi Kulkarni (right) attends UC Berkeley where she is studying Computer Science. </p>
</div>
{% endblock %}

<!-- footer here -->
