{% extends 'main/base.html' %}

{% block content %}
<style>
  .top h1 {
    font-family: 'Exo 2', sans-serif;
  }
  .body {
    border-radius: 15px 50px;
    padding: 10px; 

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 0.4fr 1fr 0.3fr 
    /*repeat(auto-fit, minmax(200px, 1fr));*/
  }

  .filter {
    background: var(--primary);
    text-align: center;
  }

  .topCourses {
    background: var(--primary);
    text-align: center;
  }

  .main {
    background: var(--primary); 
    text-align: center;
  }

  .main li{
    text-align: left;
    padding-left: 20px;
  }

  footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    /*text-align: center;*/
    padding: 1rem;
  }

</style>

<div class="top">
  <h1>{{ School.abbrev }} Course Search</h1>
  <form action="{% url 'main:search' %}" method="get">
        <input name="q" type="text" placeholder="i.e. course number, name...">
         <button class="btn" type="submit" >submit</button>
  </form>
  <p>Don't see a course you are looking for?
	<a href="addcourse/">Click here to add it!</a>
</p>
</div>

<div class="body">
  <div class="filter">
    <h3>Filter Search:</h3>
  </div>
  <div class="main">
    <h3>Search Results: </h3>
    <div class= "results">
      {% for instance in posts %}
            <!-- <li class="school">{{ school_list.name }}</li> -->
        <!-- <h3>{{ instance.courseNumber }}, {{ instance.name }}</h3> -->
        <!-- <p>{{ instance.name }} ({{ instance.abbrev }})</p> -->
        <li><a href="/search/{{ instance.courseNumber }}/{{ instance.id }}/">{{ instance.courseNumber }} - {{instance.name }}</a></li>
          <!-- <li> {{ instance.courseNumber }} - {{instance.name }} </li> -->
        <!-- <a href="search/{{ instance.courseNumber }}"><li class="school">{{ instance.name }}</li> -->
      {% endfor %}
    </div>
  </div>
  <div class="topCourses"> 
    <h3>Top Courses: </h3>
  </div>
</div>

{% endblock %}